.statistics-content {

  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: -5px;
  padding: 0;
  color: #034c70;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;

  font-feature-settings: 'tnum', "tnum";
  position: relative;
  background: #ededee;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  width: 210px;
  height: 150px;
}

.statistics-content .ant-card-head {

    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: #034c70;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: none;
    border-radius: 2px 2px 0 0;

}

