.big-icon {
  font-size: 30px;
}

.options {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  background: #034c70;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  width: 210px;
  min-height: 100%;
}

.main-options {
  background: #034c70;
}

.resources-options {
  background: #407088;
}

.options .ant-card-head {
  border: none;
  color: #ffffff;
}
