.adminoptions {
  text-align: center;
  color: #4d4d4d;
  font-size: 14px;
  background: #034c70;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  width: 210px;
  min-height: 100%;
}

.main-adminoptions {
  background: rgba(196, 196, 196, 0.6);
}

.adminoptions .ant-card-head {
  border: none;
  color: #034c70;
}

.btn-secretary {
  background: #034c70;
  color: #ffffff;
}

.options .ant-card-head-title {
  display: inline-block;
  -ms-flex: 1;
  flex: 1 1;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}
