@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

.first-part{
  background: #e5e5e5;
  color: #034C70 !important;
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  padding: 20px 20px;
}

.big-icon{
  font-size: 30px;
}
.ant-typography{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  color: #034C70;
  text-align: center;
}
h1{
  color: #034C70 !important;
  font-size: 48px;
  font-weight: normal;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.home-button {
  color: #fff;
  background: #034C70;
  border-color: #034C70;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.second-part{
  background-image: url("../images/lapices.png");
  text-align: center;
  padding: 50px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.fondo-lapices {
  width: 1345px;
  height: 515px;
  position: absolute;
  /* margin-top: -1px; */
  margin-left: -674px;
  margin-top: -50px;
}
.libros-fondo{

  position: absolute;
  margin-right: -923px;
  /* margin-bottom: -132px; */
  margin-top: 201px;
  display: flex;

}
.third-part{
  background-image: url("../images/fondolibros 1.png");
  text-align: center;
  /* background: #e5e5e5; */
  padding: 84px 20px;
  background-position: right bottom;
  background-repeat: no-repeat;

}

/*.card-rows{*/
/*  margin-left: 200px;*/
/*  margin-right: -8px;*/
/*}*/

/*.cards{*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*}*/

.items {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: #034C70;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;

  font-feature-settings: 'tnum', "tnum";
  position: relative;
  background: rgba(196, 196, 196, 0.6);;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  width: 191px;
  height: 275px;
  /*margin-left: 200px;*/
  /*left: 270px;*/
  /*top: 640px;*/
}

.items .ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
}

/*.ant-divider {*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  color: rgba(0, 0, 0, 0.85);*/
/*  font-size: 14px;*/
/*  font-variant: tabular-nums;*/
/*  line-height: 1.5715;*/
/*  list-style: none;*/
/*  -webkit-font-feature-settings: 'tnum';*/
/*  font-feature-settings: 'tnum', "tnum";*/
/*  border-top: none;*/
/*}*/
