.schedule-form__table .ant-table td {
    padding: 0 !important;
    width: max-content;
}

.schedule-modal .ant-modal-content{
    width: 710px;
}

.schedule-form__switch {
    min-width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #fafafa;
}

.schedule-form__switch::after {
    display: none !important;
}

.schedule-form__switch.ant-switch-checked {
    background-color: #52c41a;
}
